<section id="about" class="about-section">
  <div class="container">
    <h1>About Me</h1>
    <p>
      Hello! I'm an aspiring software developer specializing in creating
      innovative solutions with JavaScript, Angular, and PHP. With a background
      in technical support, I've assisted small and medium-sized departments
      with hardware and software troubleshooting, and I've developed automation
      scripts for reporting and portfolio creation.
    </p>
    <p>
      When I'm not coding, I enjoy exploring new programming languages, watching
      educational videos, and applying fresh insights to enhance my projects and
      skills.
    </p>
    <h3>Technology Stack</h3>
    <ul>
      <li><strong>Frontend:</strong> Angular, Bootstrap, Tailwind CSS</li>
      <li>
        <strong>Backend:</strong> Laravel, Javascript, PHP, C#, Python, ASP.Net
        <!--, Node.js, Express.js-->
      </li>
      <li><strong>Databases:</strong> MySQL, SQL Server Management Studio</li>
      <!-- <li><strong>Other Tools:</strong> Firebase, GraphQL, Azure, Docker, Figma</li> -->
    </ul>
  </div>
</section>
