<section id="about" class="about-section">
  <div class="container">
    <h1>About Me</h1>
    <p>
      Hello! I'm an aspiring software developer specializing in creating
      innovative solutions with JavaScript, Angular, and PHP. With a background
      in technical support, I've assisted small and medium-sized departments
      with hardware and software troubleshooting, and I've developed automation
      scripts for reporting and portfolio creation.
    </p>
    <p>
      When I'm not coding, I enjoy exploring new programming languages, watching
      educational videos, and applying fresh insights to enhance my projects and
      skills.
    </p>
    <h3>Technology Stack</h3>
    <ul>
      <li><strong>Frontend / Web Development:</strong> HTML, CSS, Javascript, Angular, Bootstrap, Tailwind CSS, ReactJS</li>
      <li>
        <strong>Backend Development:</strong> C, C++, PHP, Python, Laravel, C#, ASP.Net, Rest API Basics, Node.js, Express.js
      </li>
      <li><strong>Databases:</strong> MySQL, SQL Server Management Studio, Figma, Adobe Photoshop, Adobe Premiere</li>
      <!-- <li><strong>Other Tools:</strong> Firebase, GraphQL, Azure, Docker, Figma</li> -->
    </ul>
  </div>
</section>
