<div class="container">
<div class="h1">About</div>
<p class="p1">Hello! I'm a Aspiring Developer specializing in developing solutions with Javascript, Angular, and PHP.</p>
<p class="p2">'I work on project including website and graphic design. I used to be a technical support from my previous company.
I've helped small and medium department or divisions either hardware or software and small coding like using appscript for regenerating and getting a report and creating first time porfolio.

When I'm not coding, I enjoy reading and learning other programming languages that i can use, and watching short videos regarding programming and apply it to my website.

- Technology Stack: (React), Next , Bootstrap, tailwind, (Firebase), Laravel, MySQL, (MongoDB), (GraphQL), (Azure), (docker), Figma.
 '</p>
</div>
