<section id="hero" class="hero-section">
  <div class="hero-container">
    <!-- LEFT: TEXT -->
    <div class="hero-text">
      <h1 class="fw-bold">
        Aspiring Software and <br />
        Web <span class="fw-normal">Developer</span>
      </h1>

      <h4 class="fw-bold mt-2">
        Tech Support <span class="fw-normal">and Web Developer</span>
      </h4>

      <p class="mt-3">
        A 25-year-old <strong>Programmer</strong> based in Manila, Philippines.
      </p>

      <div class="mt-4 hero-buttons">
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#chat/dm/sy1rzUAAAAE"
            target="_blank"
            class="btn btn-danger">
          <i class="bi bi-chat-left-dots"></i>Get in Touch
        </a>

      <!-- <div class="mt-4 hero-buttons">
        <button class="btn btn-dark">
          <i class="bi bi-discord"></i> Get in Touch
        </button> -->
        <a
          class="btn btn-light border"
          href="#"
          (click)="onScrollToSection('projects'); $event.preventDefault()"
        >
          <i class="bi bi-calendar-event"></i> View My Work
        </a>
      </div>
    </div>

    <!-- RIGHT: IMAGE -->
    <div class="hero-image">
      <img src="assets/images/profile.jpg" alt="Profile" />
    </div>
  </div>
</section>
