.hero-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  // margin-top: -50px;
}

/* MAIN CONTAINER (pantay sa navbar) */
.hero-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* LEFT SIDE */
.hero-text {
  flex: 1;
  text-align: left;
}

/* RIGHT SIDE */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-width: 420px;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1rem;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero-image {
    justify-content: center;
    margin-top: 2rem;
  }

  .hero-buttons {
    justify-content: center;
    flex-direction: column;
  }
}
